airtable-python-wrapper==0.8.0
certifi==2018.11.29
chardet==3.0.4
Django==2.1.7
django-crispy-forms==1.7.2
django-filebrowser-no-grappelli==3.7.7
django-heroku==0.3.1
django-jquery==3.1.0
django-static-jquery==2.1.4
django-tinymce4-lite==1.7.4
dj-database-url==0.5.0
gunicorn==19.9.0
idna==2.6
jsmin==2.2.2
Markdown==3.0.1
mistune==0.8.4
Pillow==5.4.1
psycopg2==2.7.7
Pygments==2.7.4
python-dotenv==0.10.1
pytz==2018.9
requests==2.18.4
six==1.11.0
urllib3==1.22
whitenoise==4.1.2
wincertstore==0.2
