{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1"/>
    <title>BootstrapYou</title>

    <link rel="stylesheet"
          href="{% static 'myprofile/bower_components/foundation-sites/dist/css/foundation.min.css' %}">

    <link rel="stylesheet" href="{% static 'myprofile/bower_components/custombox/dist/custombox.min.css' %}">
    <link rel="stylesheet" href="{% static 'myprofile/assets/fonts/foundation-icons/foundation-icons.css' %}">
    <link rel="stylesheet" href="{% static 'myprofile/assets/styles/styles.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500">


    <script src="{% static 'myprofile/bower_components/custombox/dist/custombox.min.js' %}"></script>
    <script src="{% static 'myprofile/bower_components/normalize-css/normalize.css' %}" charset="utf-8"></script>
    <script src="{% static 'myprofile/bower_components/typed.js/dist/typed.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'myprofile/bower_components/jquery/dist/jquery.min.js' %}" charset="utf-8"></script>

    <script src="{% static 'myprofile/bower_components/jqcloud2/dist/jqcloud.min.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'myprofile/bower_components/jqcloud2/dist/jqcloud.min.css' %}">

    <script src="{% static 'myprofile/bower_components/foundation-sites/dist/js/foundation.min.js' %}"
            charset="utf-8"></script>

</head>

<body>

<div class="wrapper">
    <div class="thin-bar">
    </div>

    <section id="about">
        <div class="row">
            <div class="small-12 large-8 large-offset-2 columns text-center">
                <img class="img-circle" src="{% static 'myprofile/assets/images/adhoc-profile-pic.png' %}"
                     alt="headshot">
                <div class="details">
                    <h2>Hi, I'm Ron. I...<br> <span id="writing-text"><span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 column">
                <div class="cta text-center">
                    <a class="my-button cta-button expand form-button" href="mailto:ron.calibuso@gmail.com">Get In
                        Touch</a>
                </div>
            </div>
            <div class="small-12 column">
                <div class="my-arrow-div text-center">
                    <a href="https://github.com/rc1200" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a>
                    <a href="https://www.youtube.com/channel/UCwqpoPXcVWM6rW4jKqx22Pw" target="_blank"><i
                            class="fa fa-youtube fa-2x"></i></a>
                </div>
            </div>
        </div>
    </section>


    <section id="footer-cta">
        <h2 class="text-center">Mission Statement</h2>
        <p></p>
        <div class="row text-center">
            <div class="small-12 medium-8 medium-offset-2 columns">
                <p class="text-center">To provide quality content to "<a target="_blank"
                                                                         href="https://www.google.com/search?client=firefox-b-d&q=define+bootstrap">Bootstrap</a>"
                    you to
                    your next level of your career.<br><br>
                    Learn some of the hacks I used to automate some daily routines in my job and 3x my productivity by
                    working
                    smarter utilizing Python and some other free tools.<br><br>
                    We will focus on <a target="_blank"
                                        href="https://en.wikipedia.org/wiki/Data_wrangling">wrangling</a> data and some
                    other projects I am passionate about and present them in a
                    pragmatic way where we solve some real-life problems that you might face in your day to day job
                    functions.
                </p>
            </div>
        </div>
    </section>


    <section id="experience">
        <div class="row column">
            <div class="small-12">
                <h2 class="text-center">My Experience</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-4 columns text-center experience-topics">
                <i class="fi-laptop"></i>
                <h3>Front-end</h3>
                <ul>
                    <li>html</li>
                    <li>css</li>
                    <li>Bootstrap</li>
                    <li>Javascript</li>
                    <li>Jquery</li>
                </ul>
            </div>
            <div class="small-12 medium-4 columns text-center experience-topics">
                <i class="fi-database"></i>
                <h3>Back-end/Framewoks</h3>
                <ul>
                    <li>Python</li>
                    <li>Django</li>
                    <li>SQL | PostgreSQL</li>
                    <li>Excel VBA</li>
                    <li>API</li>
                    <li>regex</li>
                    <li>Flask</li>
                </ul>
            </div>
            <div class="small-12 medium-4 columns text-center experience-topics">
                <i class="fi-star"></i>
                <h3>Tools</h3>
                <ul>
                    <li>PyCharm</li>
                    <li>Sublime</li>
                    <li>Git</li>
                    <li>Notepad ++</li>
                    <li>Agent Ransack</li>
                    <li>WinMerge</li>
                    <li>Protégé</li>
                </ul>
            </div>
        </div>
    </section>


    <section id="teaching">
        <h2 class="text-center">Teaching</h2>

        <div class="small-12 column">
            <div class="my-arrow-div text-center">
                <a href="https://github.com/rc1200" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a>
                <a href="https://www.youtube.com/channel/UCwqpoPXcVWM6rW4jKqx22Pw" target="_blank"><i
                        class="fa fa-youtube fa-2x"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-8 medium-offset-2">
                <p class="text-center tag-line">Check out my Channels where I share my code and walk you step by step on
                    how you can increase your productivity giving you the edge you need to take your career to the next
                    level.<br><br>
                    Here are some of the concepts I will cover...</p>
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-8 medium-offset-2 columns">
                <div class="teaching-domains">
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'myprofile/assets/scripts/app.js' %}" charset="utf-8"></script>
    </section>


    <section id="work">
        <h2 class="text-center">Work</h2>
        <div class="row">
            <p class="text-center tag-line">Here are few of the cools stuff I created.</p>
        </div>

        <div class="row work-row"> <!-- odd -->
            <div class="small-12 medium-6 medium-push-6 columns">
                <img src="{% static 'myprofile/assets/images/blog-app.png' %}" alt="">
            </div>
            <div class="small-12 medium-5 medium-pull-7 columns">
                <div class="details details-ftm">
                    <h3>Blog App</h3>
                    <p class="platform">Web</p>
                    <!--<p class="icons"><i class="fi-monitor"></i><i class="fi-tablet-portrait"></i><i-->
                    <!--class="fi-mobile"></i></p>-->
                    <p>Blog app with full C.R.U.D functionality. Implemented TinyMCE editor to have a WYSIWYG <i>("what
                        you see is what you get")</i>experience for rich content.
                        Also enabled custom views based on permissions.</p>
                    <a class="my-button" target="_blank" href="{% url 'post_list' %}">Visit Website</a>
                </div>
            </div>
        </div>

        <div class="row work-row"> <!-- even -->
            <div class="small-12 medium-6 columns">
                <img src="{% static 'myprofile/assets/images/javascript-fun.png' %}" alt="">
            </div>
            <div class="small-12 medium-5 medium-offset-1 columns">
                <div class="details details-ftm">
                    <h3>Fun with Javscript</h3>
                    <p class="platform">Web</p>
                    <!--<p class="icons"><i class="fi-monitor"></i><i class="fi-tablet-portrait"></i><i-->
                    <!--class="fi-mobile"></i></p>-->
                    <p>Think you can beat the machine?<br><br>
                        Battle the machine in an epic game of Rock Paper Scissors, or try your luck with blackjack or
                        have fun with some cute cats.<br>
                        Utilized CSS, Flexbox (to align and elements in a uniform way), JavaScript and touched on asynchronous calls.</p>
                    <a class="my-button" target="_blank" href="{% url 'javafun:javascript_fun' %}">Visit Website</a>

                </div>
            </div>
        </div>

        <div class="row work-row"> <!-- odd -->
            <div class="small-12 medium-6 medium-push-6 columns">
                <img src="{% static 'myprofile/assets/images/to-do-list-anvil.png' %}" alt="">
            </div>
            <div class="small-12 medium-5 medium-pull-7 columns">
                <div class="details details-ftm">
                    <h3>To Do List</h3>
                    <p class="platform">Web</p>
                    <!--<p class="icons"><i class="fi-monitor"></i><i class="fi-tablet-portrait"></i><i-->
                    <!--class="fi-mobile"></i></p>-->
                    <p>To do or Not to Do.<br><br>
                        I prefer to NOT DO….. and let <a target="_blank" href="https://anvil.works/">Anvil</a> handle
                        all the front end and back end stuff so I can get the
                        Job done.<br><br>
                        See my full C.R.U.D enabled app, why make when you can duplicate.</p>
                    <a class="my-button" target="_blank" href="https://royal-puzzling-marine-hatchetfish.anvil.app/">Visit Website</a>
                </div>
            </div>
        </div>


        <div class="row work-row"> <!-- even -->
            <div class="small-12 medium-6 columns">
                <img src="{% static 'myprofile/assets/images/movie-app.png' %}" alt="">
            </div>
            <div class="small-12 medium-5 medium-offset-1 columns">
                <div class="details details-ftm">
                    <h3>Movie App</h3>
                    <p class="platform">Web</p>
                    <!--<p class="icons"><i class="fi-monitor"></i><i class="fi-tablet-portrait"></i><i-->
                    <!--class="fi-mobile"></i></p>-->
                    <p>Forget about IMDb, you choose the stars<br><br>
                        Utilize the power of <a target="_blank" href="https://airtable.com/">Airtables</a>, it is more
                        than just a spreadsheet.<br><br>
                        Utilizing modal forms we are able to pictures, notes and star rating and utilizing their APIs to store and gather information
                        to your frontend.</p>
                    <a class="my-button" target="_blank" href="{% url 'movieapp:home_page' %}">Visit Website</a>
                </div>
            </div>
        </div>

        <div class="row work-row"> <!-- odd -->
            <div class="small-12 medium-6 medium-push-6 columns">
                <img src="{% static 'myprofile/assets/images/roadmap.jpg' %}" alt="">
            </div>
            <div class="small-12 medium-5 medium-pull-7 columns">
                <div class="details details-ftm">
                    <h3>Road map</h3>
                    <p class="platform">Web</p>
                    <!--<p class="icons"><i class="fi-monitor"></i><i class="fi-tablet-portrait"></i><i-->
                    <!--class="fi-mobile"></i></p>-->
                    <ul>
                        <li>Stock Screener</li>
                        <li>Options Screener</li>
                        <li>Django CMS portfolio</li>
                        <li>API to Think or Swim <i>(semi automated trading)</i></li>
                        <li>More content to help you</li>
                    </ul>

                </div>
            </div>
        </div>

    </section>


    <section id="footer-cta">
        <h2 class="text-center">Wanna work with me?</h2>
        <p></p>
        <div class="row text-center">
            <div class="small-12 medium-8 medium-offset-2 columns">
                <p class="text-center">Let’s have a <u>free</u> chat to see if you would like to cover a specific
                    topic or have a tailored learning plan or project that you want to build.<br><br>
                    Click on the button below to schedule a call.
                </p>
            </div>
            <div class="small-12 columns" id="startButtonDiv">
                <a class="my-button form-button" href="mailto:ron.calibuso@gmail.com">Let's chat</a>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="row text-center">
            <div class="small-12 medium-6 medium-offset-3 columns">
                <p id="logo">BY</p>
                <p id="copyright">Copyright &copy; 2018 | Ron Calibuso</p>
            </div>
        </div>
    </footer>


</div>


</body>

</html>
