{% load static %}
<!DOCTYPE html>
<html>

<script src="{% static 'myprofile/assets/scripts/demo_workers.js' %}" charset="utf-8"></script>
<script src="{% static 'myprofile/assets/scripts/def_workers.js' %}" charset="utf-8"></script>

<body>

<p>Count numbers: <output id="result"></output></p>
<button onclick="startWorker()">Start Worker</button>
<button onclick="stopWorker()">Stop Worker</button>
<button onclick="test()">test</button>

<p><strong>Note:</strong> Internet Explorer 9 and earlier versions do not support Web Workers.</p>

<script>

</script>

</body>
</html>
