{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>My Blog</title>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/zenburn.css' %}">
    <link rel="stylesheet" href="{% static 'css/mouse_over.css' %}">
    <link rel="stylesheet" href="https://fronts.googleapis.com/css?family=Source+Code+Pro">
    <link href="https://fonts.googleapis.com/css?Tangerine:bold,bolditalic|Inconsolata:ota;oc|Drpod+Sans"
          type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!--bootstrsp used for tooltip, calling script to run it in the script folder referenced below -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container-blog-header">

    <div class="page-header-title">
        <h1><a href="/">Random BLOG</a></h1>
    </div>

    <div class="actions">
        {% if user.is_authenticated %}
        welcome: {{ user.get_username }}
        <a href="{% url 'post_draft_list' %}" class="top-menu"><i class="fas fa-calendar-week fa-2x"></i>
                        <span class="tooltip-text">un-published blogs</span>
        </a>

        <a href="{% url 'post_new' %}" class="top-menu"><i class="far fa-plus-square fa-2x"></i>
                        <span class="tooltip-text">Add Blog</span>
        </a>
        <a href="{% url 'logout' %}" class="top-menu"><i class="fas fa-sign-out-alt fa-2x"></i>
                        <span class="tooltip-text">sign out</span>
        </a>


        {% else %}
        <a href="{% url 'login' %}" class="top-menu"><i class="fas fa-sign-in-alt fa-2x"></i>
                        <span class="tooltip-text">sign in</span>
        </a>

        {% endif %}
    </div>

</div>


<div class="content">
    <div class="row">
        <div class="col-md-8">

            {% block content %}
            {% endblock %}

        </div>
    </div>

</div>

<script src="{% static 'js/script.js' %}"></script>

</body>
</html>