{% extends 'blog/base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Display On Hover</title>
    <meta name="description" content="Robinson Programming Solutions - Put page description here.">
    <link rel="stylesheet" href="./website.css">
</head>

<body>
<div id="wrapper">

    <div id="content">
        <!--#this is where you place the contents of your web page-->
        <a class="hideDisplay">
            <img src="images/sphere.png" width="20" height="20" alt="symbol">
            <span class="showDisplayOnHover">
                <span class="showBodyOfDisplayOnHover">
                    Description goes here.
                </span>
            </span>
        </a>
    </div><!--content-->

</div><!--wrapper-->


<div class="container-blog-header">

    <div class="page-header-title">
        <h1><a href="/">Random BLOG</a></h1>
    </div>

    <div class="actions">
        {% if user.is_authenticated %}
        welcome: {{ user.get_username }}

        <a href="{% url 'post_new' %}" class="tooltip_ron"><i class="far fa-plus-square fa-2x"></i>
            <span class="tooltip_rontext">sign out</span>
        </a>

        <div class="tooltip_ron">Hover over me
            <span class="tooltip_rontext">Tooltip text</span>
        </div>


        <a href="{% url 'post_new' %}" class="top-menu"><i class="far fa-plus-square fa-2x"></i>
            <span class="tooltip-text">sign out</span>
        </a>

        <a href="{% url 'post_new' %}" class="top-menu"><i class="far fa-plus-square fa-2x"></i>
            <span class="tooltip-text">sign out</span>
        </a>

        {% else %}
        <a href="{% url 'login' %}" class="top-menu"><i class="fas fa-sign-in-alt fa-2x"></i>
            <span class="tooltip">
                    Login
            </span>
        </a>
        {% endif %}
    </div>

</div>


AAAA
<p>Move the mouse over the text below:</p>

<div>Hover over me
  <span>Tooltip text</span>
</div>

<div class="tooltip_ron">Hover over me
  <span class="tooltip_rontext">Tooltip text</span>
</div>



</body>
</html>

{% endblock %}